.sectionTitle {
  font-size: 40px;
  font-weight: 800;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  margin-bottom: 24px;
  text-align: center;
}

.sectionDescription {
  font-size: 18px;
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
}

.highlight {
  color: var(--accent);
}

.imagePaper {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 24px;
  transition: all 0.4s;
}

.image {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.4s ease;
}

.imagePaper:hover .image {
  transform: scale(1.02);
}

@media (max-width: 768px) {
  .sectionDescription {
    font-size: 16px;
    margin-bottom: 32px;
    padding: 0 16px;
  }
}
