.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 auto;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--mantine-radius-xl);
  padding: 20px 30px 50px 30px;
  border: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));
}

.label {
  font-weight: 700;
  font-size: 90px;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.title {
  font-size: clamp(14px, 2.5vw, 20px);
  white-space: nowrap;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.description {
  font-size: clamp(11px, 3vw, 14px);
  margin-bottom: 30px;
  white-space: nowrap;
  color: var(--mantine-color-gray-6);
}

.btn {
  border-radius: var(--mantine-radius-xl);
}
