.container {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 50px;
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.block {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 30px;
  max-height: 400px;
}

.lifo {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  width: 100%;
}

.fifo {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  max-width: 600px;
  width: 100%;
}

.books {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 100px;
  width: 100%;
  justify-content: end;
}

.book {
  background-color: var(--mantine-color-blue-8);
  max-width: 100px;
  width: 100%;
  text-align: center;
  border-radius: var(--mantine-radius-sm);
}

.cup {
  border-left: 2px solid orange;
  border-right: 2px solid orange;
  border-bottom: 2px solid orange;
  max-width: 300px;
  width: 100%;
  min-height: 400px;
}
