.completedTitle {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 12px;
  text-align: center;
}

.completedScore {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
.scoreContainer {
  margin-top: 24px;
  padding: 24px;
  text-align: center;
  border: 1px solid #e9ecef;
  border-radius: 12px;
}
