.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-8));
  transition: background-color 0.3s ease;
}
