.sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--mantine-spacing-2xl);
  background: var(--sidebar-bg);
  border-right: 1px solid var(--border);
}

.navLink {
  border-radius: var(--mantine-radius-md);
  color: var(--text-dim);
  transition: all 0.3s ease;
  font-weight: 600;
}

.navLink:hover:not([data-active]) {
  background-color: var(--accent-subtle);
  color: var(--text-main);
}

.navLink[data-active] {
  background-color: var(--accent-subtle);
  color: var(--accent);
}
