.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-top: 1px solid var(--mantine-color-gray-3);
  background-color: var(--mantine-color-body);
  width: 100%;
  margin-top: auto;
  flex-shrink: 0;
}

.logo {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--mantine-color-text);
}

.creationYear {
  font-size: 20px;
}
