.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-top: 1px solid var(--border);
  background-color: transparent;
  width: 100%;
  margin-top: auto;
  flex-shrink: 0;
}

.logo {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  color: var(--text-main);
}

.creationYear {
  font-size: 20px;
}
