.header {
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: gray;
}

.container {
  max-width: 250px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn {
  font-size: 20px;
  background-color: blueviolet;
  transition: 0.3s ease-in-out;
  padding: 5px 5px;
  border: 0;
  border-radius: 5px;
  &:hover {
    background-color: chocolate;
  }
}
