.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.sectionTitle {
  font-weight: 800;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  margin-bottom: 24px;
}

.sectionDescription {
  max-width: 600px;
  font-size: 18px;
  margin: auto;
}

.highlight {
  color: var(--accent);
}

.image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: fill;
  border-radius: 12px;
  transition: transform 0.4s ease;
}

.imageWrapper {
  flex: 1 1 90%;
  max-width: 90%;
  align-self: stretch;
  display: flex;
  align-items: stretch;
  transition: transform 0.8s cubic-bezier(0.2, 0.9, 0.4, 1.1);
  transform: scale(1);
}

.imageZoom {
  transform: scale(1.05);
}

@media (max-width: 992px) {
  .section {
    flex-direction: column;
    gap: 40px;
  }
}

@media (max-width: 768px) {
  .section {
    flex-direction: column;
    gap: 40px;
    padding: 40px 16px;
  }

  .imageWrapper {
    flex: 1 1 100%;
    max-width: 100%;
    width: 100%;
  }

  .sectionTitle {
    text-align: center;
  }
}
