.userBlock {
  padding-bottom: var(--mantine-spacing-md);
  margin-bottom: var(--mantine-spacing-md);
  border-bottom: 1px solid var(--border);
}

.name {
  color: var(--text-main);
  line-height: 1.2;
  font-weight: 600;
}

.rank {
  display: flex;
  gap: 6px;
  font-size: 16px;
  font-weight: 700;
}

.rank span {
  animation: starRotate 3s linear infinite;
}

@keyframes starRotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
