name: Assert branch naming rules

on:
  pull_request:
    branches:
      - main
      - development

jobs:
  check-branch-name:
    runs-on: ubuntu-latest

    steps:
      - name: Check branch name
        run: |
          BRANCH_NAME="${{ github.event.pull_request.head.ref }}"

          if [[ "$BRANCH_NAME" =~ ^(feature|fix|docs|chore|ci)/.+$ ]]; then
            echo "✅ Branch name is valid"
          else
            echo "❌ Invalid branch name: $BRANCH_NAME"
            exit 1
          fi
