name: PR Title Lint

on:
  pull_request:
    types: [opened, edited, reopened, synchronize]

jobs:
  pr-title-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Validate PR title
        run: |
          echo "${{ github.event.pull_request.title }}" | npx commitlint
